body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* コンテナのスタイル */
.link {
    position: absolute;
    top: 10px;
    right: 110px;
    display: flex;
    gap: 2px; /* 各リンク間のスペースをさらに狭く */
    z-index: 1000;
    align-items: center;
}

/* リンクのスタイル */
.link a {
    display: inline-block;
    padding: 5px 10px; /* パディングをさらに小さく */
    background-color: #e0e0e0;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 10px; /* フォントサイズを小さく */
    text-align: center;
    white-space: nowrap;
}

.link a:hover {
    background-color: #ccc;
}

input[type="submit"] {
    width: 40%;
    padding: 8px; /* ボタンのパディングを少し小さく */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px 0;
}

input[type="submit"]:hover {
    background-color: #45a049;
}